p {
  color: #F39C12;
    
}
html {
  font-family: comic sans;
  font-size: 20px;
  background-image:url(" http://assets4.capitalfm.com/2013/13/justin-timberlake-curly-hair-1364982840-view-1.jpg")
}
ul {
  color: #D35400;
}
